body {
}

.search_page {
    background: #fff;
    padding: 50px;
    min-height: calc(100vh - 65px)
}
    .search_page .search_page_title {
        margin-bottom: 0px
    }
    .search_page nav.pagination_nav {
        display: flex;
        justify-content: space-between;
    }
.pagination-container .pagination {
    justify-content: flex-start;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}
    .pagination-container .pagination .page-item.active a {
        z-index: 1;
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }

        .pagination-container .pagination li a {
            position: relative;
            display: block;
            padding: .5rem .75rem;
            margin-left: -1px;
            line-height: 1.25;
            color: #007bff;
            background-color: #fff;
            border: 1px solid #dee2e6;
        }
    /***************************************************************************************** Start Media */
    /*Large devices (desktops, less than 1200px)*/
    @media (max-width: 1199.98px) {
    }
/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {

}
/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
   

    .search_page nav.pagination_nav {
        flex-direction: column;
        height: 100px;
    }
}
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .search_page {
        padding: 70px 10px
    }
    
    
}

/***************************************************************************************** End Media */