@{
    ViewBag.Title = "About";
}

    <link href="~/Content/about_us.css" rel="stylesheet" />

    <div class="container">
        <div class="about_us_page">
            <section>
                <h4 class="heading">@Resources.InternalPages.About_us_Title</h4>

                <p class="text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam

                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                </p>
                <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

            </section>
            <section>
                <h4 class="heading">@Resources.InternalPages.Our_Team_Title</h4>

                <div class="row">
                    <div class="col-lg-3 col-sm-6 col-xs-8">
                        <div class="student">
                            <div class="student_img">
                                <img src="~/Content/images/omar.jpg" />
                                <div class="overlay animated jackInTheBox">
                                    <a href="mailto:omarskishko@gmail.com" class="animated  flip"><i class="fa fa-envelope"></i></a>
                                    <a href="#" class="animated  flip"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="animated  flip"><i class="fa fa-instagram"></i></a>
                                    <a href="#" class="animated  flip"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                            <h5 class="name">Omar Kishko</h5>
                            <p class="bio">Computer Science | Web Developer</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="student">
                            <div class="student_img">
                                <img src="~/Content/images/omar.jpg" />
                                <div class="overlay animated jackInTheBox">
                                    <a href="mailto:omarskishko@gmail.com" class="animated  flip"><i class="fa fa-envelope"></i></a>
                                    <a href="#" class="animated  flip"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="animated  flip"><i class="fa fa-instagram"></i></a>
                                    <a href="#" class="animated  flip"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                            <h5 class="name">Omar Kishko</h5>
                            <p class="bio">Computer Science | Web Developer</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="student">
                            <div class="student_img">
                                <img src="~/Content/images/omar.jpg" />
                                <div class="overlay animated jackInTheBox">
                                    <a href="mailto:omarskishko@gmail.com" class="animated  flip"><i class="fa fa-envelope"></i></a>
                                    <a href="#" class="animated  flip"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="animated  flip"><i class="fa fa-instagram"></i></a>
                                    <a href="#" class="animated  flip"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                            <h5 class="name">Omar Kishko</h5>
                            <p class="bio">Computer Science | Web Developer</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="student">
                            <div class="student_img">
                                <img src="~/Content/images/omar.jpg" />
                                <div class="overlay animated jackInTheBox">
                                    <a href="mailto:omarskishko@gmail.com" class="animated  flip"><i class="fa fa-envelope"></i></a>
                                    <a href="#" class="animated  flip"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="animated  flip"><i class="fa fa-instagram"></i></a>
                                    <a href="#" class="animated  flip"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                            <h5 class="name">Omar Kishko</h5>
                            <p class="bio">Computer Science | Web Developer</p>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <h4 class="heading">@Resources.InternalPages.Supervisor_Title</h4>
                <div class="supervisor">
                    <div class="row">
                        <div class="col-lg-3 col-md-5">
                            <div class="supervisor_img">
                                <img src="~/Content/images/omar.jpg" />
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-7">
                            <h4 class="name">Dr. Omar Kishko</h4>
                            <p class="bio">Linguist | Data Scientist | Asst Prof of CS</p>
                            <p class="text-justify about">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <div class="links">
                                <a href="mailto:omarskishko@gmail.com" class="animated  flip"><i class="fa fa-envelope"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
        
    </div>